<h3 class='p-2 pl-3 section-title'>{{ 'Single Email'|trans }}</h3>
<div class='pl-3 mt-2 mb-5' id='singleEmailDiv'>
  <p>{{ 'This email will be sent to a single user'|trans }}</p>

  <label for="singleEmail" class="col-form-label">{{ 'Email Address'|trans }}</label>
  <input type='email' class='form-control col-md-12' id='singleEmail' aria-label='{{ 'Email address'|trans }}'>

  <label for='singleSubject' class='col-form-label'>{{ 'Email Subject'|trans }}</label>
  <input class='form-control col-md-12' type='text' id='singleSubject' size='45' />

  <label for='singleBody' class='col-form-label mt-2'>{{ 'Email Body'|trans }}</label>
  <textarea class='form-control col-md-12' id='singleBody'></textarea>

  <div class='mt-4 text-center'>
    <button type='button' data-action='send-single-email' class='btn btn-primary'>{{ 'Send'|trans }}</button>
  </div>
</div>
